{% extends 'PortfolioDatabase/base.html' %}

{% block title %}My Hobbies{% endblock %}

{% block content %}
    <h1>My Hobbies</h1>
    {% for hobby in hobbies_list %}
        <div class = "row">
            <div class="col-md-4">
                <h3>{{ hobby.name }}</h3>
                <p>{{ hobby.description }}</p>
            </div>

            <div class="col-md-2">
                <div class="text-center">
                    <a href="{% url 'hobby_detail' hobby.id  %}" class="btn btn-success">Details</a>
                </div>
            </div>
        </div>
    {% endfor %}
{% endblock %}
