{% extends 'PortfolioDatabase/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
    <h1>Welcome to My Portfolio</h1>
    <p>Hi y'all my name is Shanen Oleson. I am 25 years old, and I was born and raised in a small town named Rupert, Idaho.
I attended at Minidoka County School District and graduated from High school in 2016 with only three months into the school year.
After graduating from High School I competed in various rodeo queen contests and won the 2016 Miss War Bonnet Roundup Queen
in Idaho Falls, Idaho. Throughout the year of 2016 I traveled all over the state of idaho and sometimes nearby surrounding
states to represent my title.</p>

<p>Upon after passing the crown onto the next winner, I quit rodeo queening as it became exhausting and time-consuming. The life
of a rodeo queen may be glamorous but it is also hard work. I personally became exhausted of the political standpoint and pettiness
that often follows the rodeo queen way of life.</p>

<p>I was grateful enough to be awarded a scholarship through the contest and was able to attend CSI in the Equine Studies program.
I took two horsemanship classes to help round out my riding. After the semester was over, I decided it was not the correct career
path for me.</p>

<p>Soon after I married in September 2017. This is where I feel the downfall of my life start to begin. I left my family and what
friends I did have and moved to Ogden. My marriage ended just after a few short weeks. The person I loved and whom I was supposed to
trust became abusive. I packed all of my belongings up and thanks to my husband of now I was able to get out safe and sound. I moved
back to Idaho with my family, but it just didn't feel right anymore. I made the decision to move back to Ogden and be with Kyle.</p>

<p>I moved back to Utah and with no job or schooling under my belt I fell into an even deeper depression. Kyle, at the time, was in the
electrical trade classes at OTECH. I would often attend class with him. After a little push from Kyle, I decided to enroll at
Ogden-Weber Technology College in the software development program. From there I took a wide range of classes but was still unsure what I
specifically wanted to go into. I remembered back in 7th grade, I made a promise to myself that I would someday work for Nintendo. My teachers
weren't so supportive of the idea, however. I was told that things like that don't happen to people from our area. It was a slap to the face as
teachers are supposed to be the one to lift you up and encourage your daring adventures. This pushed me to make the dream happen until I lost
thought of it for a minute.</p>

<p>After coming to the realization of what I wanted to do, I sat with my advisors, and we mapped out the rest of my classes I would need. I
graduated from OTECH in Fall of 2019 and received my software development certificate. Kyle and I married in June 2019 and our adventures
are always bringing about something new for us.</p>

<p> I started school in Fall of 2020 at Weber State University to pursue my bachelors of Computer Science with the intentions of gainful
employment throughout the game development world. I enjoy the coding process as it allows me to see the very beginnings of a project and
then see it come to life when you're finished.</p><br>
{% endblock %}