{% extends 'PortfolioDatabase/base.html' %}
{% block title %}{{ portfolio.name }} Detail{% endblock %}

{% block content %}
        <div class = "row">
            <div class="col-md-4">
                <h1>{{ project.name }}</h1>
                <p>{{ project.description }}</p>
                <img class="card" height="150px" src="{{ portfolio.image.url }}" alt="{{ portfolio.name }} Image">
                <a class="btn btn-primary mt-3" href="{% url 'portfolio' %}">Back to Portfolio</a>
            </div>
        </div>
{% endblock %}